* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --font-primary: Arial, Helvetica, sans-serif;
  --font-secondary: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  --bg: #0c1020;
  --bg-2: #11162d;
  --bg-3: #1b2651;
  --text: #eee;
  --text-muted: #aaa;
  --accent: #d5425d;
  --link: #666;
  --link-hover: #888;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: stretch;

  height: 100%;

  color: var(--text);
  background-color: var(--bg);
  font-family: var(--font-primary);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  font-size: 0.75rem;
  font-weight: 200;

  color: var(--text-muted);
}

li {
  list-style-type: none;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  text-decoration: none;

  font-size: 0.825rem;
  font-weight: 600;

  background-color: var(--accent);
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 0.5rem 3rem;

  background-color: var(--bg);
}

header #head-logo {
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
}

header strong {
  color: var(--text);
}

header a span {
  color: var(--accent);
}

header nav ul {
  display: flex;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-top: 3rem;
}

main section {
  width: 100%;
  padding: 2rem 5rem;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, var(--bg), var(--bg-3));
}

#servicios {
  background-color: var(--text);
}

#nosotros {
  background-color: var(--text-muted);
}

#contacto {
  background-color: var(--bg-2);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 1rem 3rem;
  gap: auto;

  background-color: var(--bg);
  font-size: 0.75rem;
}

footer p {
  color: var(--text-muted);
}

footer nav ul {
  display: flex;
  gap: 0.5rem;
}
